# You can override anthing under config from a grain,
# see defaults.yaml for list of options


kafka:
  user: root
  config:
    log:
      dir: '/mnt/kafka-logs'

zookeeper:
  config:
    data_dir: '/mnt/zookeeper'
    
storm:
  lookup:
    # This will install storm into `/usr/local/storm-0.10.0`
    version: 0.10.0
    prefix: '/usr/local'

    # This will setup supervisors on ports 670[0-3]
    supervisor_start_port: 6700
    supervisor_slots: 4

  config:
    # we iterate over the keys under here and generate storm.yaml. 
    # The "section" keys are prepended to each of the hash items below
    # logging will happen in /mnt/storm/logs because storm.yaml will
    # have `storm.log.dir: "/mnt/storm/logs"` set and the state will make
    # sure that dir is created and writeable.
    storm:
      local.dir: "/mnt/storm/storm-local"
      log.dir: "/mnt/storm/logs"
      zookeeper.port: 2181
      zookeeper.connection.timeout: 300000
      zookeeper.session.timeout: 300000
      zookeeper.retry.times: 10
      zookeeper.retry.interval: 1000
      zookeeper.retry.intervalceiling.millis: 30000
      
    nimbus:
      host: 'nimbus.mydomain.com'

    # Timeout band-aids in testing
    topology:
      receiver.buffer.size: 2
      acker.executors: 1
    
