storm:
  version: 0.10.0
  zmq_version: 4.1.3


# These settings map 1+1 to the settings in storm/config.yml
# there are some special cases, like `storm.supervisor.num_slots`
# which will convert a number to a list of ports behind the scenes
storm.nimbus:
  seeds: ["localhost"]
  childopts: "-Xmx768m"
  thrift:
    port: 6627
    threads: 64
    max_buffer_size: 1048576

  supervisor.timeout.secs: 60


storm.ui:
  host: 0.0.0.0
  port: 8080
  childopts: "-Xmx768m"


storm.supervisor:
  num_slots: 3
  childopts: "-Xmx256m"


storm.drpc:
  port: 3772
  worker.threads: 64
  max_buffer_size: 1048576
  queue.size: 128
  invocations.port: 3773
  invocations.threads: 64
  request.timeout.secs: 600
  childopts: "-Xmx768m"
  
  
