{% from  "storm/defaults.yaml" import rawmap with context %}
{% set storm = salt['grains.filter_by'](rawmap, grain='os', merge=salt['pillar.get']('storm:lookup'))%}

{% set real_name = storm.name % storm.version %}
{% set real_home = storm.prefix + "/" + real_name %}

{% set meta = {} %}
{% do
meta.update({"home": real_home,
  "alt_home": storm.prefix + "/storm",
  "bin_dir": real_home + "/bin",
  "conf_dir": storm.config_dir,
  "source_url": storm.source_url % {"name": real_name, "version": storm.version},
  "name": real_name,
  "version": storm.version})
  %}
